
body {
  margin: 0;
  padding: 0;
  background-color: #292929;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;

}

.text {
  max-width: 500px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  color: antiquewhite;
}

h5{
  
  color: antiquewhite;

}

h1{
  color: antiquewhite;
  font-size: 50px;
}

p {
  font-size: 45px;
  color: #cccccc;
  margin-bottom: 10px;

}

.hcard{
  width: 35%;
  border: 1px solid #ffffff98;
}

.image img{
  display: block;
  width: 65%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  
}


.Work{
  padding: 100px;
}

.row{
  display: flex;
  padding: 3%;
}

.card{
  padding: 3.125%;
  position: relative;
  
}

.card img{
  border-radius: 25px;
  width: 100%;
  height: 450px;
}
.card :hover{
  transform: scale(0.95);
  transition: transform 0.3s ease-in-out;
}

.text-on-image {
  position: absolute;
  padding-left: 20px;
  font-size: 350%;
  
  bottom: 60%;

}
.text-on-image :hover {
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

.photos{
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
}

.Frame{
  padding: 30px;
  cursor: zoom-in;
  
}

.Frame img{
  border-radius: 25px;
}

.Frame :hover{
  transform: scale(1.7);
  transition: transform 0.4s ease-in-out;
  
}

.Gal{
  padding-left: 100px;
  display: block;
}


.round{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background-color: white;
}

.round img{
  padding: 12px;
}

.round :hover{
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;

}

.icons{
  display: flex;
}

@media screen and (max-width: 500px) {
 

  .introduction{
    display:grid;
    padding-right: 100px;
  }

  .text{
    height:fit-content;
  }

  .hcard{
    margin-top: 150px;
    width: 100%;
    

  }
   .row{
    display: grid;
    padding: 10%;

   }
 
}
